.form {
    margin: 20px;
}

.form input {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%;
}
.form textarea {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 35%; 
}

.form button {
    display: block;
}

.error-text {
    display: block;
    text-align: left;
}
.left-space{
    margin-left: 20px;
    margin-top: 3%;
}